<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <%- include('partials/favi') %>

  <title>Welcome to Tailorzx!</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/download/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/download/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/download/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/download/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/download/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/download/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="/download/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/download/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/download/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Selecao - v2.3.0
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/">Tailorzx</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/download/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <% if(currentUser){ %>
            <% if(currentUser.type === "Consumer"){ %>
            <li><a href="/">Signed in as <%= currentUser.username %></a></li>
            <% } else if(currentUser.type === "Tailor") { %>
            <li><a href="/dashboard">Signed in as <%= currentUser.username %></a></li>
            <% } %>
            <li><a href="/logout">Logout</a></li>
          <% } else { %>
            <li class="active"><a href="/login">Login</a></li>
          <% } %>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    <div class="container form-port">
        <h1 class="display-4 font">What do you wanna say to <%= result.user %>?</h1>
        <br>
        <h1 class="display-5 font1">Fill the following details.</h1>
        <br>
        <form method="POST" action="/contact/<%= result._id %>">
            <div class="mb-3" data-aos="fade-up" data-aos-delay="100">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" name="email" class="form-control form-port" id="exampleFormControlInput1" placeholder="" required>
            </div>
            <div class="mb-3" data-aos="fade-up" data-aos-delay="100">
                <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
                <textarea class="form-control form-port" name="message" id="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>
            <div class="form-group" data-aos="fade-up" data-aos-delay="100">
                <input class="btn-primary" type="submit" value="Submit">  
            </div>
        </form>
    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
        <h3>Tailorzx</h3>
        <p>The place to get your cloth designs made easily, quickly and efficiently. With tailors according to your choice, get the design in your budget on your terms.</p>
        <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Tailorzx</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- Vendor JS Files -->
  <script src="/download/vendor/jquery/jquery.min.js"></script>
  <script src="/download/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/download/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/download/vendor/php-email-form/validate.js"></script>
  <script src="/download/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/download/vendor/venobox/venobox.min.js"></script>
  <script src="/download/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/download/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/download/js/main.js"></script>

</body>

</html>